[user]
	email = contact@brytonlacquement.com
	name = Bryton Lacquement
[core]
	editor = vim
[alias]
	co = checkout
	ci = commit
	st = status
	who = shortlog -sne
	undo = reset --soft HEAD^
	unstage = reset HEAD
	amend = commit --amend
	a     = commit --amend
	aa = commit --amend -a --no-edit
	dic = diff --cached
	oneline = log --pretty=oneline --abbrev-commit --graph --decorate
	ol      = log --pretty=oneline --abbrev-commit --graph --decorate
	br = branch
	di = diff
	sh = show
	rb = rebase
	rbi = rebase -i
	rbc = rebase --continue
	rba = rebase --abort
	fx = !sh -c 'git commit -m \"This fixes commit $(git rev-parse $1).\" --fixup \"$@\"' -
	wip = commit -am WIP --no-verify
	cp = cherry-pick
	p = push
