[user]
	email = contact@bminusl.xyz
	name = Bryton Lacquement
[core]
	editor = vim
	pager = git-split-diffs --color | less -RFX
[alias]
	co = checkout
	ci = commit
	st = status
	who = shortlog -sne
	undo = reset --soft HEAD^
	unstage = reset HEAD
	amend = commit --amend
	dic = diff --cached
	oneline = log --pretty=oneline --abbrev-commit --graph --decorate
	br = branch
	di = diff
	sh = show
	rb = rebase
	rbi = rebase -i
	rbc = rebase --continue
	rba = rebase --abort
	fx = !sh -c 'git commit -m \"This fixes commit $(git rev-parse $1).\" --fixup \"$@\"' -
	wip = commit -am WIP --no-verify
	frbi = "!f() { git rebase -i $(git log --pretty=oneline --color=always | fzf --ansi | cut -d ' ' -f1)^ ; }; f"
	sw = !git checkout $(git branch -a --format '%(refname:short)' | sed 's~origin/~~' | sort | uniq | fzf)
	fsh = "!f() { git sh $(git log --pretty=oneline --color=always | fzf --ansi | cut -d ' ' -f1) ; }; f"
	aa = commit --amend -a --no-edit
[split-diffs]
	wrap-lines = true
