[Desktop Entry]
Version=1.0
Name=PulseAudio Volume Control
Name[fr]=Contrôle du volume PulseAudio
GenericName=Volume Control
GenericName[fr]=Contrôle du volume
Comment=Adjust the volume level
Comment[fr]=Régler le niveau du volume
Exec=pavucontrol
Icon=multimedia-volume-control
StartupNotify=true
Type=Application
Categories=AudioVideo;Audio;Mixer;GTK;Settings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
Keywords=pavucontrol;Microphone;Volume;Fade;Balance;Headset;Speakers;Headphones;Audio;Mixer;Output;Input;Devices;Playback;Recording;System Sounds;Sound Card;Settings;Preferences;
Keywords[fr]=pavucontrol;Microphone;Volume;Fondu;Balance;Casque;Haut-parleurs;Audio;Mixeur;Sortie;Entrée;Appareils;Lecture;Enregistrement;Sons systèmes;Carte son;Paramètres;Préférences;
X-XFCE-Source=file:///usr/share/applications/pavucontrol.desktop
