[Desktop Entry]
Version=1.0
Name=Display
Name[fr]=Affichage
Comment=Configure screen settings and layout
Comment[fr]=Configurer les paramètres et la disposition des écrans
Keywords=display;settings;screen;resolution;refresh;rate;rotation;external;projectors;monitors;LCD;CRT;HiDPI;
Keywords[fr]=affichage;paramètres;écran;résolution;rafraîchissement;fréquence;rotation;externe;projecteurs;moniteurs;LCD;CRT;HiDPI;
Exec=xfce4-display-settings
Icon=org.xfce.settings.display
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpPage=display
X-XFCE-Source=file:///usr/share/applications/xfce-display-settings.desktop
