- name: Hello, World!
  hosts: localhost

  vars:
    vscodium_extension_list:
      - mvllow.rose-pine
      - MS-CEINTL.vscode-language-pack-fr
      - PKief.material-icon-theme
      - PKief.material-product-icons
      - vscodevim.vim
      - VSpaceCode.whichkey

  roles:
    - general
    - bash
    - tmux
    - git
    - vscodium
