- name: Hello, World!
  hosts: localhost

  roles:
    - general
    - bash
    - tmux
    - git
    - vscodium
    - neovim
    - fonts

  vars:
    apt_package_list:
      - fzf
    build_root_dir: /usr/src/bryton
    font_file_list:
      # Hack
      - Hack-Bold.ttf
      - Hack-BoldItalic.ttf
      - Hack-Italic.ttf
      - Hack-Regular.ttf
      # UbuntuMonoNerdFontMono
      - UbuntuMonoNerdFontMono-Bold.ttf
      - UbuntuMonoNerdFontMono-BoldItalic.ttf
      - UbuntuMonoNerdFontMono-Italic.ttf
      - UbuntuMonoNerdFontMono-Regular.ttf
    vscodium_extension_list:
      - mvllow.rose-pine
      - MS-CEINTL.vscode-language-pack-fr
      - PKief.material-icon-theme
      - PKief.material-product-icons
      - vscodevim.vim
      - VSpaceCode.whichkey
