#####################################################################
# WARNING: This file is managed by Ansible.
# Do not manually edit this file.
# Any manual changes will be overwritten the next time Ansible runs.
#####################################################################
[user]
  email = hello@brytonlacquement.com
  name = Bryton Lacquement
[core]
  editor = nvim
[alias]
  a = amend
  aa = commit --amend -a --no-edit
  amend = commit --amend
  br = branch
  ci = commit
  co = checkout
  cp = cherry-pick
  di = diff
  dic = diff --cached
  fa = fetch --all
  fx = !sh -c 'git commit -m \"This fixes commit $(git rev-parse $1).\" --fixup \"$@\"' -
  ol = oneline
  oneline = log --pretty=oneline --abbrev-commit --graph --decorate
  p = push
  pl = pull
  plr = pull --rebase
  rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbi = rebase -i
  sh = show
  st = status
  sw = !git checkout $(git branch -a --format '%(refname:short)' | sed 's~origin~~' | sort | uniq | fzf)
  undo = reset --soft HEAD^
  unstage = reset HEAD
  who = shortlog -sne
  wip = commit -am WIP --no-verify
  yolo = push --force

#####################################################################
# WARNING: This file is managed by Ansible.
# Do not manually edit this file.
# Any manual changes will be overwritten the next time Ansible runs.
#####################################################################
