
- name: Install fonts
  get_url:
    url: "https://github.com/lebriton/fonts/raw/main/{{ item }}"
    dest: "~/.local/share/fonts/{{ item }}"
  loop: "{{ font_file_list }}"


- name: Clear and regenerate the font cache
  command: fc-cache -f -v
